.newarkBody {
    font-family: Arial, "Lucida Grande", sans-serif;
}

.newarkBody #j-header-wrap {
    /*Global header - wrapper*/
    height: 116px;
}

.newarkBody #j-header-wrap #j-header {
      /*Global header*/border-radius: 8px;
    padding: 16px 97px 32px 81px;
}

.newarkBody #j-header-wrap #j-header h5#logo .j-header-logo {
        /* logo */
    margin-top: 4px;
}

.newarkBody #j-header-wrap #j-header #j-globalNav-bg {
        /*global links nav -  main wrapper*/
    position: absolute;
    width: 100%;
    margin-top: 16px;
    left: 0;
}

.newarkBody #j-header-wrap #j-header #j-globalNav {
        /*global links nav - container*/
    padding: 0 99px 0 88px;
}

.newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li {
          /*global links nav - element*/
    line-height: 30px;
    font-weight: 100;
    -webkit-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    -moz-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    -ms-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    -o-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
}

.newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li.active .j-globalNavLink {
            /*global links nav element - active state*/
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    color: #007FAC;
    border-color: transparent;
    height: 28px;
    background: #fff;
    z-index: 4;
    position: relative;
}

.newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li .j-globalNavLink {
            /*global links nav element - link*/
    font-size: 16px;
    border: none;
    top: 0;
    padding: 6px 12px;
}

.newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li .j-globalNavLink .icon-arrow-down2:before {
              /*global links nav element - carret*/
    vertical-align: middle;
    font-size: 12px;
}

.newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li:hover .j-globalNavLink, .newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li .active .j-globalNavLink {
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    color: transparent;
    border-color: transparent;
}

.newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li:hover .menu, .newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li .active .menu {
    border: none;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.16);
}

.newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li:hover .menu ul li a, .newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li .active .menu ul li a {
    font-weight: 100;
    color: #818181;
    font-size: 14px;
    -webkit-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    -moz-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    -ms-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    -o-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
}

.newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li:hover .menu ul li a:hover, .newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li .active .menu ul li a:hover {
    color: #f17c0e;
}

.newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li:hover .menu ul li a strong, .newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li .active .menu ul li a strong {
    font-weight: 100;
}

.newarkBody #j-header-wrap #j-header #j-globalNav #jive-nav-link-home {
          /*Home link in global nav*/
    display: none;
    font-size: 16px;
    font-weight: 600;
    text-shadow: none;
    background-image: none;
}

.newarkBody #j-header-wrap #j-links .j-globalNav {
      /*user links +  dropdowns */
    margin: 7px 97px;
}

.newarkBody #j-header-wrap #j-links .j-globalNav #j-satNav li.login #navLogin, .newarkBody #j-header-wrap #j-links .j-globalNav #j-satNav .j-ui-elem span, .newarkBody #j-header-wrap #j-links .j-globalNav .j-globalNav-li.j-guest span {
        /* header greeting */
    font-size: 15px;
    color: #007fac;
}

.newarkBody #j-header-wrap #j-links .j-globalNav li.login, .newarkBody #j-header-wrap #j-links .j-globalNav li.j-globalNav-li {
    padding: 0 6px;
    height: auto;
}

.newarkBody #j-header-wrap #j-links .j-globalNav #j-satNav {
    margin-top: 1px;
}

.newarkBody #j-header-wrap #j-links .j-globalNav #j-satNav li.register {
    padding: 2px 6px;
}

.newarkBody #j-header-wrap #j-links .j-globalNav #j-satNav li.register #jive-nav-link-reg {
    display: inline-block;
    height: 10px;
    margin: -8px 0;
    padding: 8px 10px 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;
}

.newarkBody #j-header-wrap #j-links .j-globalNav #j-satNav .j-ui-elem {
    height: 23px;
}

.newarkBody #j-header-wrap #j-links .j-globalNav #j-satNav .j-ui-elem span {
    display: inline-block;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    vertical-align: middle;
}

.newarkBody #j-header-wrap #j-links .j-globalNav #j-satNav .j-ui-elem span#j-satNav-more2:before {
    color: #9f9f9f;
}

@media screen and (max-width: 1068px) {
    .newarkBody #j-header-wrap #j-links .j-globalNav #j-satNav .j-ui-elem span.j-user-welcome, .newarkBody #j-header-wrap #j-links .j-globalNav #j-satNav .j-ui-elem span.j-user-name {
        display: none;
    }
}

.newarkBody #j-header-wrap #j-links .j-globalNav #j-satNav .j-ui-elem span.j-nav-more {
    margin-top: 5px;
}

.newarkBody #j-header-wrap #j-links .j-globalNav #j-satNav .j-ui-elem .header-avatar {
    display: none;
    vertical-align: middle;
}

@media screen and (max-width: 1068px) {
    .newarkBody #j-header-wrap #j-links .j-globalNav #j-satNav .j-ui-elem .header-avatar {
        display: none;
    }
}

.newarkBody #j-header-wrap #j-links .j-globalNav #j-satNav .j-ui-elem .header-avatar img {
    margin: -9px 0 -3px -7px;
}

.newarkBody #j-header-wrap #j-links .j-globalNav .j-globalNav-li.j-guest {
    margin-top: 6px;
}

.newarkBody #j-header-wrap #j-links .j-globalNav .j-globalNav-li.j-guest + li {
    margin-top: 4px;
}

.newarkBody #j-header-wrap #j-links .j-globalNav .j-globalNav-li.j-guest span.j-user-name {
    font-weight: bold;
}

.newarkBody #j-header-wrap #j-links .j-globalNav .j-globalNav-li.j-nav-create:not(.mobile-active) .j-create-icon + .j-navLabel {
    padding: 0 3px 0 0;
}

.newarkBody #j-header-wrap #j-links .j-globalNav .j-globalNav-li.j-nav-create .j-globalNavLink {
    -webkit-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    -moz-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    -ms-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    -o-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
}

.newarkBody #j-header-wrap #j-links .j-globalNav .j-globalNav-li.j-nav-create .j-globalNavLink#navCreate .nav-link {
          /*Create drop-down*/
    display: inline-block;
    padding: 8px 6px 5px 28px;
    color: #ffffff;
    background: #f17c0e url(../../images/newark/icons/pencil-icon.png) 10px 8px no-repeat;
    background-size: 12px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    -webkit-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    -moz-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    -ms-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    -o-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
}

.newarkBody #j-header-wrap #j-links .j-globalNav .j-globalNav-li.j-nav-create .j-globalNavLink#navCreate .nav-link:hover {
    background-color: #da6900;
}

.newarkBody #j-header-wrap #j-links .j-globalNav .j-globalNav-li.j-activity.j-globalNav-li {
    margin-top: 2px !important;
}

.newarkBody #j-header-wrap #j-links .j-globalNav .j-globalNav-li.j-activity.j-globalNav-li a span {
    font-size: 14px;
}

.newarkBody #j-header-wrap #j-links .j-globalNav .j-globalNav-li #j-satNav-inbox {
        /*Inbox*/
    top: 0;
}

.newarkBody #j-header-wrap #j-links .j-globalNav .j-globalNav-li #j-satNav-inbox span.j-js-update-indicator {
          /*Inbox counter*/
    color: #fff;
    font-size: 14px;
    vertical-align: text-top;
    line-height: 21px;
    font-weight: 400;
}

.newarkBody #j-header-wrap #j-links .j-globalNav .j-globalNav-li #j-satNav-inbox .nav-link.j-ui-elem.j-navbadge-inbox {
          /*Inbox Button*/
    padding: 3px 9px 2px 27px;
    border-radius: 5px !important;
    background: #006392 url(../../images/newark/icons/bell-icon.png) 7px 5px no-repeat;
    background-size: 14px 17px;
}

.newarkBody #j-header-wrap #j-links .j-globalNav .j-globalNav-li #j-satNav-inbox .nav-link.j-ui-elem.j-navbadge-inbox .icon-bell:before {
    display: none;
}

.newarkBody #j-header-wrap #j-links .j-globalNav #google_translate_element {
        /*Google-translate*/
    position: absolute !important;
    right: 140px;
    top: 73px;
    z-index: 10;
}

.newarkBody #j-header-wrap #j-links .j-globalNav #google_translate_element .nav-link {
    font-size: 13px;
}

@media only screen and (max-width: 1020px) {
    .newarkBody #j-header-wrap #j-links .j-globalNav #google_translate_element {
        right: 116px;
    }
}

.newarkBody #j-header-wrap #j-links .j-globalNav .j-locale {
        /*Locale selector*/
    top: 74px;
    position: absolute !important;
    right: 88px;
    z-index: 20;
}

@media only screen and (max-width: 1020px) {
    .newarkBody #j-header-wrap #j-links .j-globalNav .j-locale {
        right: 70px;
    }
}

.newarkBody #j-spotlight-search {
  /*Spotlight search*/
    width: auto;
    max-width: 532px;
    margin: 0 auto;
    padding: 14px 24px 10px 24px;
    border: solid 1px #f0f0f0;
    border-radius: 35px;
    background-color: #ffffff;
    font-family: HelveticaCY, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    font-style: oblique;
    line-height: 1.25;
    color: #525252;
}

@media screen and (max-width: 1754px) {
    .newarkBody #j-spotlight-search {
        width: 22vw;
        margin: 0 10vw 0 164px;
        min-width: 0;
    }
}

@media screen and (max-width: 1556px) {
    .newarkBody #j-spotlight-search {
        width: 20vw;
        margin: 0 11vw 0 164px;
        min-width: 0;
    }
}

@media screen and (max-width: 1068px) {
    .newarkBody #j-spotlight-search {
        width: 30vw;
    }
}

@media screen and (max-width: 800px) {
    .newarkBody #j-spotlight-search {
        margin: 0 21vw 0 164px;
    }
}

@media screen and (max-width: 740px) {
    .newarkBody #j-spotlight-search {
        width: 30vw;
        margin: 0 25vw 0 164px;
    }
}

.newarkBody #j-spotlight-search #autosearch {
    /*Spotlight search - input*/
    background: #fff none;
    border: 0;
    height: auto;
    line-height: normal;
    width: 96%;
    padding: 2px 34px 0 3px;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    font-style: oblique;
    font-family: HelveticaCY, Helvetica, Arial, "Lucida Grande", sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.newarkBody #j-spotlight-search button {
    /*Spotlight search - magnify button*/
    background: url(../../images/newark/icons/magnify-icon.png) transparent 22px 13px no-repeat;
    background-size: 19px 20px;
    color: #EE7C15;
    z-index: 1;
    font-size: 0 !important;
}

.newarkBody #j-spotlight-search .jive-glyph-delete {
    top: 19px;
    right: 52px;
}

.newarkBody .jive-spotlight-search-result {
  /*Spotlight search results*/
    width: 807px !important;
}

.newarkBody.j-body-place {
  /*place banner buttons(Follow, Following, Join Group, LeaveGroup)*/;
}

.newarkBody.j-body-place #j-main {
    padding: 16px 89px 16px 71px;
}

.newarkBody.j-body-place #j-main #jive-body .j-page-header {
    height: 110px;
    padding-left: 15px;
    background: none transparent;
    padding-top: 0;
}

.newarkBody.j-body-place #j-main #jive-body .j-page-header .j-placeHdActions {
    top: 43px;
}

.newarkBody.j-body-place #j-main #jive-body .j-page-header .j-placeHdActions a {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.25;
    color: #14a5e9;
}

.newarkBody.j-body-place #j-main #jive-body .j-page-header .j-placeHeaderInner .j-placeName,
      .newarkBody.j-body-place #j-main #jive-body .j-page-header .j-placeTitle .j-placeName {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 1px;
    font-weight: 100;
    color: #007fac;
}

.newarkBody.j-body-place #j-main #jive-body .j-page-header #jive-breadcrumb {
    margin: 4px 7px 10px;
}

.newarkBody.j-body-place #j-main #jive-body .j-page-header #jive-breadcrumb a, .newarkBody.j-body-place #j-main #jive-body .j-page-header #jive-breadcrumb span {
    color: #8d8d8d;
    font-size: 12px;
}

.newarkBody.j-body-place #j-main #jive-body .j-page-header .j-placeLinks li a {
    opacity: 1;
}

.newarkBody.j-body-place .j-placeNavBg {
    background-color: #14a5e9;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.09);
}

.newarkBody.j-body-place .j-js-follow-controls a#jive-link-community-startFollowing, .newarkBody.j-body-place .j-js-follow-controls a#jive-link-project-startFollowing, .newarkBody.j-body-place .j-js-follow-controls a#jive-link-socialgroup-startFollowing, .newarkBody.j-body-place .j-js-follow-controls a#jive-link-community-following, .newarkBody.j-body-place .j-js-follow-controls a#jive-link-project-following, .newarkBody.j-body-place .j-js-follow-controls a#jive-link-socialgroup-following {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.25;
    color: #14a5e9;
    background: transparent url(../../images/newark/icons/cardio-icon.png) 0 0 no-repeat;
    background-size: 17px 16px;
    padding-left: 23px;
}

.newarkBody.j-body-place .j-js-follow-controls a#jive-link-joinSocialGroup {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.25;
    color: #14a5e9;
}

.newarkBody.j-body-place .j-js-follow-controls a#jive-link-leaveSocialGroup {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.25;
    color: #14a5e9;
}

.newarkBody.j-body-place .j-js-follow-controls a .icon-pulse {
    display: none;
}

.newarkBody {
  /*Featured video - small column*/
  /*Popular content widget*/;
}

.newarkBody .jive-widget {
    /* widgets */
    padding: 15px 18px 0 11px;
    /*Related Products widget*/
    /*Video Playlist widget*/;
}

.newarkBody .jive-widget h3 {
    font-size: 14px;
    font-weight: 300;
}

.newarkBody .jive-widget h4.jive-widget-handle {
    background: transparent;
}

.newarkBody .jive-widget .jive-widget-header {
    padding: 2px 0 2px 10px;
}

.newarkBody .jive-widget .jive-widget-header h2, .newarkBody .jive-widget .jive-widget-header h3, .newarkBody .jive-widget .jive-widget-header h4 {
        /* widgets - headings */
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #007fac;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.newarkBody .jive-widget.jive-widget-recentactivitywidget .j-act-stream .j-act-generic .j-act-content .j-act-title {
      /*recent activity widget - extra title indenting*/
    margin-left: 0;
    padding-left: 0;
}

.newarkBody .jive-widget.jive-widget-recentactivitywidget .j-act-stream .j-act-generic .j-act-content .j-act-title .acticon.jive-icon-big {
    top: -2px !important;
    left: 36px;
}

.newarkBody .jive-widget.jive-widget-recentactivitywidget .j-act-stream .j-act-generic .j-act-content .j-act-title .acticon.jive-icon-big + .title {
    margin-left: 70px;
}

.newarkBody .jive-widget.jive-widget-recentactivitywidget .j-excerpt-slug {
    margin-left: 0;
}

.newarkBody .jive-widget.jive-widget-recentactivitywidget .j-excerpt {
    margin-left: 0;
}

.newarkBody .jive-widget.jive-widget-recentactivitywidget .j-act-title {
    margin-left: 0;
}

.newarkBody .jive-widget .featured-user-wrapper {
    display: inline-block;
    text-align: left;
}

.newarkBody .jive-widget .jive-table table {
    border-collapse: collapse;
}

.newarkBody .jive-widget .jive-table tr {
      /* widget element stacked */
    border-bottom: solid 1px #f0f0f0f0;
}

.newarkBody .jive-widget .jive-table tr:first-child .jive-table-cell-title {
    padding-top: 0;
    padding-bottom: 8px;
    vert-align: middle !important;
}

.newarkBody .jive-widget .jive-table tr td {
    vertical-align: middle !important;
}

.newarkBody .jive-widget .jive-table tr td:first-child {
    width: 26px;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

.newarkBody .jive-widget .jive-table tr td:first-child.jive-event-date-column {
    width: 90px;
}

.newarkBody .jive-widget .jive-table tr td:first-child.jive-table-cell-acclaim-rate {
    width: 86px;
}

.newarkBody .jive-widget .jive-table tr td:last-child {
    text-align: right;
}

.newarkBody .jive-widget .jive-table tr .jive-table-cell-title {
        /*widget element stacked -> title*/
    padding: 12px 14px 10px 14px;
    background-color: #ffffff;
}

.newarkBody .jive-widget .jive-table tr .jive-table-cell-title a {
        /*widget element stacked -> meta*/
    text-transform: none;
    color: #4a4a4a;
}

.newarkBody .jive-widget .jive-table tr .jive-table-cell-title span strong {
        /*widget element stacked -> strong*/
    font-size: 12px;
    color: #4a4a4a;
}

.newarkBody .jive-widget .jive-table tr .jive-table-cell-title span span {
        /*widget element stacked -> regular*/
    font-size: 12px;
    color: #919191;
}

.newarkBody .jive-widget .jive-table tr .jive-table-cell-title span a {
        /*widget element stacked -> link*/
    font-size: 12px;
    font-style: oblique;
    color: #4a4a4a;
}

.newarkBody .jive-widget .jive-table.jive-table-widget tr .jive-table-cell-title {
    padding: 12px 14px 10px 14px;
}

.newarkBody .jive-widget .jive-table.jive-table-widget tr:first-child .jive-table-cell-title {
    padding-top: 0;
}

.newarkBody .jive-widget .jive-table tr:last-child {
    border-bottom: none;
}

.newarkBody .jive-widget .jive-table tr.jive-table-row-even {
    background-color: transparent;
}

.newarkBody .jive-widget .jive-table tr.jive-table-row-even td,
    .newarkBody .jive-widget .jive-table tr.jive-table-row-odd td {
      /*widget element -> row*/
    background-color: #fff;
}

.newarkBody .jive-widget table tbody td.jive-table-cell-author,
    .newarkBody .jive-widget table tbody td.jive-table-cell-author a,
    .newarkBody .jive-widget .font-color-meta, .newarkBody .jive-widget .j-main-mb-entry .jive-js-statusinput-default:focus {
      /*widget element -> by author line*/
    font-size: 14px;
    color: #4a4a4a;
}

.newarkBody .jive-widget .jive-more-content,
    .newarkBody .jive-widget .j-js-load-more {
      /*widget element -> load more results button */
    display: block;
    margin: 0;
    padding: 18px 16px 16px;
    text-align: center;
    border: none;
    background-color: #f0f0f0;
    background-image: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2.6px;
    color: #007fac;
    text-transform: uppercase;
    -webkit-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    -moz-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    -ms-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    -o-transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
    transition: .3s background-color ease, .3s opacity ease, .3s text-decoration ease;
}

.newarkBody .jive-widget .jive-more-content:hover,
      .newarkBody .jive-widget .j-js-load-more:hover {
    text-decoration: underline;
}

.newarkBody .jive-widget .jive-more-content span,
      .newarkBody .jive-widget .j-js-load-more span {
    background-image: none;
}

.newarkBody .jive-widget.jive-widget-designchallengeproductswidget {
    padding-bottom: 0;
}

.newarkBody .jive-widget.jive-widget-designchallengeproductswidget #e14-related-products-header {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 16px;
}

.newarkBody .jive-widget.jive-widget-designchallengeproductswidget .e14-related-products-widget {
    width: auto;
    margin-bottom: 0;
    padding: 0 10px;
    box-shadow: none;
}

.newarkBody .jive-widget.jive-widget-designchallengeproductswidget ul#pf-related-products li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.newarkBody .jive-widget.jive-widget-designchallengeproductswidget ul#pf-related-products li#pf-related-products-more {
    display: block;
    margin-top: 20px;
}

.newarkBody .jive-widget.jive-widget-designchallengeproductswidget .content-small #pf-partlist-price {
    margin-top: 0;
}

.newarkBody .jive-widget.jive-widget-imagenavwidget .j-image-links {
    list-style: none;
}

.newarkBody .jive-widget #pf-relatedproducts-description {
    height: auto;
}

.newarkBody .jive-widget.jive-widget-videoplaylistwidget .j-simple-list {
    margin: -10px;
}

.newarkBody .jive-widget.jive-widget-videoplaylistwidget .j-simple-list li {
    display: inline-block;
    max-width: 200px;
    margin: 10px;
}

@media screen and (max-width: 492px) {
    .newarkBody .jive-widget.jive-widget-videoplaylistwidget .j-simple-list li {
        max-width: 100%;
    }
}

.newarkBody .jive-widget.jive-widget-videoplaylistwidget .j-simple-list li a {
    display: table-cell;
    white-space: pre-line;
}

.newarkBody .jive-widget.jive-widget-videoplaylistwidget .j-simple-list li a img {
    height: 146px;
}

.newarkBody .jive-widget-watchlabel {
    /*widget element -> extralabel*/
    margin-bottom: 4px;
}

.newarkBody .jive-widget-watchlabel.font-color-meta {
    font-size: 13px;
}

.newarkBody .jive-box-footer {
    /*widget element -> footer element e.g. RSS link*/
    font-size: 14px;
    margin: 15px 4px 4px 4px;
}

.newarkBody .jive-widget-featuredvideowidget .jive-widgetsize-small .jive-video-widget-thumb-container {
    margin: 0;
}

.newarkBody .jive-widget-featuredvideowidget .jive-widgetsize-small .jive-video-widget-thumb .jive-video-time-overlay {
    display: none;
}

.newarkBody .jive-widget-featuredvideowidget .jive-widgetsize-small .jive-video-widget-thumb a.jive-video-thumb {
    height: 103px;
    margin-bottom: 10px;
    max-width: 100%;
    background-size: 100%;
}

.newarkBody .jive-widget-featuredvideowidget .jive-widgetsize-small .jive-video-widget-thumb a.jive-video-thumb img {
    width: 91%;
}

.newarkBody .jive-widget-popularcontentwidget li {
    max-height: 100%;
}

@media screen and (max-width: 40em) {
    body.newarkBody.j-body-place #j-main {
        padding: 14px 10px 10px;
    }

    body.newarkBody.j-body-place #j-main #jive-body .j-page-header {
        height: 144px;
    }

    body.newarkBody.j-body-place #j-main #jive-body .j-page-header .j-placeHeaderInner .j-placeName,
      body.newarkBody.j-body-place #j-main #jive-body .j-page-header .j-placeTitle .j-placeName {
        font-size: 23px;
        line-height: 24px;
    }

    body.newarkBody.j-body-place #j-main #jive-body .j-page-header .j-placeHeaderInner .j-placeHdActions,
      body.newarkBody.j-body-place #j-main #jive-body .j-page-header .j-placeTitle .j-placeHdActions {
        top: 65px;
        right: 16px;
    }

    body.newarkBody.j-body-place #j-main #jive-body .j-page-header .j-placeHeaderInner .j-placeHdActions a#jive-link-joinSocialGroup:before,
        body.newarkBody.j-body-place #j-main #jive-body .j-page-header .j-placeTitle .j-placeHdActions a#jive-link-joinSocialGroup:before {
        font-weight: bold;
        font-size: 1.4em;
        vertical-align: middle;
    }

    body.newarkBody.j-body-place #j-main #jive-body .j-placeNav .j-placeMainNav li.active a, body.newarkBody.j-body-place #j-main #jive-body .j-placeNav .j-placeMainNav li.selected a {
        color: #F17C0E;
    }

    body.newarkBody.j-body-place #j-main #jive-body .j-placeNav .j-placeMainNav li a {
        color: #818181;
        height: 36px;
    }

    body.newarkBody #j-header-wrap #j-header {
        padding: 44px 97px 32px 81px;
    }

    body.newarkBody #j-header-wrap #j-header #j-globalNav {
        padding: 0;
        position: relative;
    }

    body.newarkBody #j-header-wrap #j-header #j-globalNav #mobile-menu {
        /*Hamburger menu*/
        position: absolute;
        top: -98px;
        left: 0;
    }

    body.newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li:hover .j-globalNavLink,
      body.newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li .j-globalNavLink {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #efefef;
        box-shadow: none;
    }

    body.newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li:hover .j-globalNavLink .nav-link,
        body.newarkBody #j-header-wrap #j-header #j-globalNav .j-globalNav-li .j-globalNavLink .nav-link {
        font-weight: 100;
    }

    body.newarkBody #j-header-wrap #j-header h5#logo .j-header-logo {
      /*logo*/
        margin: 10px 0 0 30px !important;
        transform: scale(0.7);
    }

    body.newarkBody #j-header-wrap #j-header #j-spotlight-search {
      /*Main header search*/
        width: 100%;
        margin: 0 auto;
        padding: 5px 12px;
    }

    body.newarkBody #j-header-wrap #j-header #j-spotlight-search #autosearch {
        line-height: 1em;
    }

    body.newarkBody #j-header-wrap #j-header #j-spotlight-search button {
        background-position: 0 center;
        width: 40px;
    }

    body.newarkBody #j-header-wrap #j-header #j-globalNav-bg {
        position: absolute;
        left: 0;
        width: 100% !important;
        background-color: transparent;
    }

    body.newarkBody #j-header-wrap #j-header #j-globalNav-bg #j-globalNav {
        padding: 0;
        top: 42px;
    }

    body.newarkBody #j-header-wrap #j-header #j-globalNav-bg #j-globalNav #jive-nav-link-home {
          /*Home link hidden*/
        display: none;
    }

    body.newarkBody #j-header-wrap #j-header #j-links .j-globalNav {
        margin: 0 16px;
    }

    body.newarkBody #j-header-wrap #j-header #j-links .j-globalNav .j-globalNav-li {
        /*Navigation links*/
        padding: 2px 0 0 12px;
    }

    body.newarkBody #j-header-wrap #j-header #j-links .j-globalNav .j-globalNav-li.j-activity {
        display: none;
    }

    body.newarkBody #j-header-wrap #j-header #j-links .j-globalNav .j-globalNav-li.j-nav-create .j-globalNavLink#navCreate .nav-link {
        display: none;
    }

    body.newarkBody #j-header-wrap #j-header #j-links .j-globalNav .j-globalNav-li .login {
        padding: 4px 0;
        vertical-align: top;
    }

    body.newarkBody #j-header-wrap #j-header #j-links .j-globalNav .j-globalNav-li .register {
        padding: 11px 10px 9px 10px;
        line-height: 10px;
    }

    body.newarkBody #j-header-wrap #j-header #j-links .j-globalNav .j-globalNav-li .register #jive-nav-link-reg {
        padding: 10px 10px 9px 10px;
        line-height: 10px;
    }

    body.newarkBody #j-header-wrap #j-header #j-links .j-globalNav .j-globalNav-li .j-navbadge-count,
        body.newarkBody #j-header-wrap #j-header #j-links .j-globalNav .j-globalNav-li .j-update-count {
        top: -19px;
        right: 98px;
    }

    body.newarkBody #j-header-wrap #j-header #j-links .j-globalNav .j-locale {
        /*Locale selector*/
        top: 2px;
        right: -14px;
    }

    body.newarkBody #j-header-wrap #j-header #j-links .j-globalNav-li.j-guest + .j-globalNav-li #j-satNav {
        margin: 4px 34px;
    }

    body.newarkBody #j-header-wrap #j-header #j-links #j-satNav {
        margin: 1px;
    }

    body.newarkBody #j-header-wrap #j-header #j-links #j-satNav li .login, body.newarkBody #j-header-wrap #j-header #j-links #j-satNav li .register {
        height: 26px;
        line-height: 28px;
        padding: 0 10px;
    }

    body.newarkBody .jive-modal, body.newarkBody .j-pop {
    /* pop-ups/drop-downs */
        border: none;
        border-radius: 0;
        background-color: #ffffff;
        box-shadow: none;
    }

    body.newarkBody .jive-widget {
    /*Related Products widget*/
    /*Now Enrolling widget*/;
    }

    body.newarkBody .jive-widget.jive-widget-recentactivitywidget {
        border: 1px solid #dadada;
    }

    body.newarkBody .jive-widget.jive-widget-recentactivitywidget .jive-widget-header {
        display: block !important;
    }

    body.newarkBody .jive-widget.jive-widget-recentactivitywidget .j-stream-list-item {
        margin-bottom: 0;
    }

    body.newarkBody .jive-widget.jive-widget-recentactivitywidget .j-excerpt {
        margin-left: 0;
    }

    body.newarkBody .jive-widget.jive-widget-recentactivitywidget .j-act-stream .j-act-generic .j-act-content .j-act-title {
        margin-left: 10px;
        padding: 0 0 0 30px;
    }

    body.newarkBody .jive-widget.e14-related-products-widget {
        display: block !important;
    }

    body.newarkBody .jive-widget #pf-relatedproducts-description {
        height: auto;
    }

    body.newarkBody .jive-widget.jive-widget-enrollingroadtestswidget .content-large > div {
        margin: 20px 0;
        padding: 0 !important;
    }

    body.newarkBody .jive-widget.jive-widget-enrollingroadtestswidget .content-large > div:last-child {
        margin-bottom: 10px;
    }

    body.newarkBody .jive-widget.jive-widget-enrollingroadtestswidget .content-large > div div:nth-child(2) {
        padding-right: 0 !important;
        width: calc(100% - 95px) !important;
    }

    body.newarkBody .jive-widget.jive-widget-enrollingroadtestswidget .content-large > div div:nth-child(3) {
        width: auto !important;
        padding-right: 0 !important;
    }
}

/* overall restyling overrides */
.newarkBody .jive-modal, .newarkBody .j-pop {
  /* pop-ups/drop-downs border*/
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.22);
}

.newarkBody .j-pop ul li a {
  /* pop-ups/drop-downs elements*/
    color: #818181;
}

.newarkBody .j-pop .belowArrow {
    background-position: -115px -373px;
}

.newarkBody .j-pop .pointer {
    background: transparent url(/images/steelhead/j-ui-sprite.png) no-repeat -100% -100%;
}

.newarkBody .j-pop .pointer.belowArrow {
    background-position: -115px -373px;
}

.newarkBody .jive-widget {
  /* widgets styling */
    margin: 0 0 30px 0;
    border-radius: 5px;
    border-width: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.09);
}

.newarkBody .jive-widget.jive-widget-recentactivitywidget .j-stream {
    /* widgets styling  - no border*/
    border: none;
}

/*Avatar alignment in the header fix*/
.newarkBody #j-header-wrap #j-links .j-globalNav #j-satNav .j-ui-elem .header-avatar {
	display: inline-block;
	margin-right: 5px;
	margin-top: 3px;
}

.jive-widget-recentblogpostswidget .j-icon-list li span a {
    white-space: pre-wrap;
}

#jive-compliance { display:none; }

#j-header h5#logo .j-header-logo {
	background-image: url('https://files1.element14.com/community/themes/e14/images/custom-ui-sprite.png?v=2021-1b');
}
