.trace_list li {
  margin-top: .3em;
}

.trace_link {
  margin-bottom: .5em;
  margin-top: -.5em;
}

.trace_link a {
  vertical-align: middle;
}

.trace_toggle_box {
  text-decoration: none;
  display: inline-block;
  color: #106;
  border: 1px solid black;
  -moz-border-radius: 3px;
  width: 1.5em;
  text-align: center;
}

.thread_description {
  font-weight: bold;
  margin-top: 0;
}

.trace_bug_list li {
  margin-top: .3em;
}
.trace_bug_list li input {
  vertical-align: bottom;
}
.trace_bug_list li.submit_container {
  margin-left: 2.3em;
}

.frames, .trace_bug_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.trace {
  border: 1px dashed gray;
  padding: .5em;
}

.frame {
  margin-bottom: .25em;
}

.frame_function {
  color: #c00;
}

.crash .frame_function {
  color: #4e9a06;
}

.frame_code, .frame_file_container, .frame_library_container {
  margin-left: 2em;
}
.frame_code {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.frame_file, .frame_library {
  font-style: italic;
}

.frame_line {
  font-weight: bold;
}
