ATTRS{idProduct}=="1001", ATTRS{idVendor}=="0110", MODE="777", GROUP="dialout"
ATTRS{idProduct}=="1002", ATTRS{idVendor}=="0110", MODE="777", GROUP="dialout"
ATTRS{idProduct}=="0003", ATTRS{idVendor}=="1eaf", MODE="777", GROUP="dialout" SYMLINK+="maple"
ATTRS{idProduct}=="0004", ATTRS{idVendor}=="1eaf", MODE="777", GROUP="dialout" SYMLINK+="maple"
ATTRS{idProduct}=="0043", ATTRS{idVendor}=="2341", MODE="777", GROUP="dialout"
ATTRS{idProduct}=="0001", ATTRS{idVendor}=="2341", MODE="777", GROUP="dialout"
ATTRS{idProduct}=="0042", ATTRS{idVendor}=="2341", MODE="777", GROUP="dialout"
ATTRS{idProduct}=="8037", ATTRS{idVendor}=="2341", MODE="777", GROUP="dialout"
ATTRS{idProduct}=="8041", ATTRS{idVendor}=="2341", MODE="777", GROUP="dialout"
ATTRS{idProduct}=="6018", ATTRS{idVendor}=="1d50", MODE="777", GROUP="dialout"
ATTRS{idProduct}=="0215", ATTRS{idVendor}=="1608", MODE="777", GROUP="dialout"
ATTRS{idProduct}=="2303", ATTRS{idVendor}=="067b", MODE="777", GROUP="dialout"
ATTRS{idProduct}=="0215", ATTRS{idVendor}=="1608", MODE="777", GROUP="dialout"
ATTRS{idProduct}=="6001", ATTRS{idVendor}=="0403", MODE="777", GROUP="dialout"
ATTRS{idProduct}=="0230", ATTRS{idVendor}=="0711", MODE="777", GROUP="dialout"
ATTRS{idProduct}=="0260", ATTRS{idVendor}=="0711", MODE="777", GROUP="dialout"
ATTRS{idProduct}=="06cd", ATTRS{idVendor}=="0110", MODE="777", GROUP="dialout"
SUBSYSTEM=="tty" ATTRS{manufacturer}=="Prolific*", MODE="777"
ATTRS{idVendor}=="2341", MODE="777", GROUP="dialout"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="3748", \
    MODE:="0777", \
    SYMLINK+="stlinkv2_%n"
SUBSYSTEM=="tty" ATTRS{manufacturer}=="Arduino*", MODE="777"
SUBSYSTEM=="tty" ATTRS{product}=="Black*", MODE="777"
SUBSYSTEM=="tty" ATTRS{manufacturer}=="Arduino*", MODE="777"
SUBSYSTEM=="tty" ATTRS{product}=="Edgeport*", MODE="777"
SUBSYSTEM=="tty" ATTRS{product}=="USB-Serial Controller", MODE="777"
SUBSYSTEM=="tty" ATTRS{manufacturer}=="Inside*", MODE="777"
SUBSYSTEM=="tty" ATTRS{product}=="USB-Serial*", MODE="777"
SUBSYSTEM=="tty" ATTRS{product}=="USB HS SERIAL CONVERTER", MODE="777"
SUBSYSTEM=="tty" ATTRS{product}=="Keyspan USB Serial Adapter", MODE="777"
